@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Raleway';
  font-weight:500;
  font-size: 150%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#quote-box {
    margin: 15% 25% 15% 25%;
    padding: 3%;
    background-color: white;
    border-radius: 5px;
}

#functions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#new-quote {
  color: white; 
  border-radius: 5px;
  border: 0;
  padding: 3%;
  font-family: 'Raleway';
  font-weight:550;
  font-size: 15px;
}

a {
  text-decoration: none;
}

#tweet-quote {
  color: white; 
  border-radius: 5px;
  border: 0;
  padding: 3%;
}